*{text-decoration: none;}
.App {
    font-family: montserrat;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 1%;
    font-size: 13px;
  }
  
  input {
    margin-bottom: 5%;
    padding: 2%;
    background: transparent;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid rgb(202, 200, 200);
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  button {
    background-color:rgb(241, 54, 132);
    color: white;
    transition: all .8s ease-in-out;
    display: block;
}

button:hover {
    cursor: pointer;
}

.social{
    text-align: center;
    /* margin: 3% 0%; */
}

.socialSpan{
    /* margin-bottom: 20%; */
    font-size: 12px;
    /* background-color: blue; */
    /* color: white; */
    padding: 3%;
}

a{
    text-decoration: none;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.socials{
    margin-bottom: 2%;
}
.socialf{
    background: #3b5998;
    padding: 2%;
    font-size: 12px;
    color: #fff;
}
.socialg{
    background: #EA4335;
    font-size: 12px;
    padding: 2%;
    color: #fff;
}
.signInAcc{
    margin-left: 5%;
    text-align: center;
}
.MuiContainer-root, 
.makeStyles-pap-2, 
.MuiContainer-maxWidthLg,
.makeStyles-submit-6{
  padding: 0% !important;
}
.makeStyles-submit-6{
  border-radius: 5px !important;
  padding: 2% !important;
  font-size: 19px;
}
.MuiContainer-root{
  padding: 1% !important;
}
.p{
  font-size: 12px;
  margin-top: 3%;
  margin-bottom: 5%;
}
.p span{
  color: #ea355c;
}
.MuiTypography-h5{
  font-size: 16px !important;
  font-weight: bolder !important;
  margin-bottom: 4% !important;
}
.MuiLink-underlineHover {
  color: #fff !important;

}
.makeStyles-submit {
  border: none !important;
}
.makeStyles-submit-22 {
  padding: 3% !important;
  border-radius: 10px !important;
}