*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
.netError{
    margin: auto;
    padding: 1.5%;
    width: 10%;
    min-height: 250px;
    border: 2px solid  #ef1d52;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}