*{
    box-sizing: border-box;
    outline: none;
}
.App {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 1%;
  }
  
  input {
    margin-bottom: 5%;
    padding: 2%;
    background: transparent;
    font-size: 12px;
    border: none;
    border-bottom: 2px solid rgb(236, 203, 203);
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: none;
    border-bottom: 2px solid rgb(236, 203, 203);
    background-color: 250ms;
  }
  
  button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  }
  